{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "react-hooks", "@typescript-eslint"],
  "env": {
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "no-underscore-dangle": 0,
    "no-nested-ternary": 1,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "global-require": 0,
    "allowTernary": 0,
    "no-multi-assign": 0,
    "no-restricted-syntax": 1,
    "no-continue": 0,
    "no-param-reassign": 0,
    "no-restricted-globals": 0,
    "class-methods-use-this": 0,
    "default-case": 0,
    "func-names": [1, "always", { "generators": "as-needed" }],
    "prefer-const": 0,
    "max-lines": ["error", 200],

    "import/no-unresolved": 0,
    "import/no-default-export": 2,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0,

    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/no-explicit-any": "error",

    "jsx-a11y/label-has-associated-control": 0,

    "no-extra-boolean-cast": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "jest": true
  }
}
