{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/react",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["prettier", "react-hooks", "@typescript-eslint"],
  "env": {
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": 0,
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx"]
      }
    ],
    "no-underscore-dangle": 0,
    "no-nested-ternary": 1,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "global-require": 0,
    "allowTernary": 0,
    "no-multi-assign": 0,
    "no-restricted-syntax": 1,
    "no-continue": 0,
    "no-param-reassign": 0,
    "no-restricted-globals": 0,
    "class-methods-use-this": 0,
    "default-case": 0,
    "func-names": [1, "always", { "generators": "as-needed" }],
    "prefer-const": 0,
    "max-lines": ["error", 200],

    "import/no-unresolved": 0,
    "import/no-default-export": 2,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0,

    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/no-explicit-any": "error",

    "jsx-a11y/label-has-associated-control": 0,

    "react/jsx-props-no-spreading": 0,
    "react/button-has-type": 0,
    "react/destructuring-assignment": 0,
    "react/prefer-stateless-function": 0,
    "react/static-property-placement": 0,
    "react/sort-comp": [
      2,
      {
        "order": [
          "static-methods",
          "lifecycle",
          "render",
          "/^render.+$/",
          "/^_render.+$/",
          "/^on.+$/",
          "everything-else"
        ],
        "groups": {
          "lifecycle": [
            "displayName",
            "propTypes",
            "contextTypes",
            "childContextTypes",
            "mixins",
            "statics",
            "defaultProps",
            "constructor",
            "getDefaultProps",
            "state",
            "getInitialState",
            "getChildContext",
            "getDerivedStateFromProps",
            "componentWillMount",
            "UNSAFE_componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "UNSAFE_componentWillReceiveProps",
            "shouldComponentUpdate",
            "componentWillUpdate",
            "UNSAFE_componentWillUpdate",
            "getSnapshotBeforeUpdate",
            "componentDidUpdate",
            "componentDidCatch",
            "componentWillUnmount"
          ]
        }
      }
    ],

    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-extra-boolean-cast": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "jest": true
  },
  "overrides": [
    {
      "files": ["src/entries/platform/index.tsx"],
      "rules": {
        "import/no-default-export": 0
      }
    },
    {
      "files": ["src/features/**/ducks/*.ts", "reducer.ts"],
      "rules": {
        "import/no-default-export": 0
      }
    }
  ]
}
